<header class="encabezado">
  <div #headerTop class="encabezado-top header--pinned">
    <div class="logo">
      <a routerLink="/"><img src="img/logo_menu_4.png" alt="logo"></a>
    </div>

    <nav class="navegacion">
      <ul class="lista-navegacion">
        <li><a routerLink="/">INICIO</a></li>
        <li><a routerLink="/catalogo">CATÁLOGO</a></li>

        <!-- OCASIONES con submenú -->
        <li class="has-submenu ocasiones" [class.open]="submenuAbierto">
          <!-- Este es el padre: abre/cierra el submenu -->
          <a
            href="#"
            (click)="toggleSubmenu(); $event.preventDefault()"
          >
            OCASIONES
            <mat-icon class="submenu-icon">expand_more</mat-icon>
          </a>

          <!-- Aquí ya el desplegable, solo si submenuAbierto -->
          <ul class="submenu" *ngIf="submenuAbierto">
            <li *ngFor="let oc of ocasiones">
              <a
                [routerLink]="['/catalogo']"
                [queryParams]="{ oc: oc.id }"
                class="submenu-link"
              >
                <span class="link-text">{{ oc.nombre }}</span>
              </a>
            </li>
          </ul>

        </li>


        <li><a routerLink="/contacto">CONTACTO</a></li>
      </ul>
    </nav>

    <div class="acciones-usuario">
      <ng-container *ngIf="auth.isLoggedIn(); else anon">
        <span class="saludo">Hola, {{ userName }}</span>
        <a routerLink="/perfil" class="boton">👤 Mi Perfil</a>
        <a routerLink="/carrito" class="boton">🛒 Mi carrito</a>
        <button class="boton cerrar-sesion" (click)="logout()">🔒 Cerrar sesión</button>
      </ng-container>
      <ng-template #anon>
        <a routerLink="/login" class="boton">Iniciar sesión</a>
      </ng-template>
    </div>
  </div>
</header>
