<div class="contenedor-principal">


  <!-- Sección banner -->
  <section class="seccion-banner">

    <!-- <img src="img/bienvenida.png" alt="Banner Principal" class="banner-img"> -->
    <div class="banner-text">
      <h1>Evoca el sentimiento de regalar y la belleza de las flores</h1>
      <button mat-raised-button color="primary"  [routerLink]="['/catalogo']"> 
          Ver Catálogo
        </button>
    </div>
  <div class="banner-video">
      <video
        src="img/salida-sin-audio.mp4"
        autoplay
        muted 
        loop
        playsinline
        webkit-playsinline
        class="video-bg"
      ></video>
  </div>
  </section>

  <!-- Sección de destacados -->
  <section class="seccion-destacados">
    <h2 class="titulo-seccion">Bouquets Destacados</h2>
    <!-- Estado de carga -->
    <div *ngIf="loading" class="text-center my-4">
      <p>Cargando productos...</p>
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>

    <!-- Productos -->
    <div *ngIf="!loading && !error" class="grid-destacados">
      <article class="tarjeta-bouquet" *ngFor="let producto of productos">
        <img [src]="producto.img" [alt]="producto.nombre">
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <span class="precio">{{ producto.precio | currency:'EUR':'symbol':'1.2-2' }}</span>
        <button class="boton"
                (click)="onAddToCart(producto)">
          Agregar al carrito
        </button>
      </article>
      
    </div>
    <!-- Modal de invitación a login -->
<div class="modal-backdrop" *ngIf="showLoginModal">
  <div class="modal-contenido">
    <h3>¡Ups!</h3>
    <p>Para añadir productos al carrito debes iniciar sesión.</p>
    <button class="boton" (click)="goLogin()">Ir a Login</button>
    <button class="boton cerrar" (click)="showLoginModal = false">Cerrar</button>
  </div>
</div>

  </section>
  
  <!-- Sección de novedades -->
  <section class="seccion-novedades">
    <h2 class="titulo-seccion">Novedades</h2>
    <div class="grid-novedades">
      <div class="bloque-novedad">
        <h4>Lanzamiento Primavera</h4>
        <p>Explora nuestros ramos de temporada con un 15% de descuento.</p>
      </div>
      <div class="bloque-novedad">
        <h4>Bouquets para cada ocasión</h4>
        <p>Ahora puedes elegir cada ocasión para tus ramos.</p>
      </div>
      <div class="bloque-novedad">
        <h4>Envío Gratis</h4>
        <p>En pedidos superiores a 60€ dentro de Madrid.</p>
      </div>
    </div>
  </section>

  <!-- Pie de página -->
  <footer class="pie-pagina">
    <p>© 2025 MRbouquets. Todos los derechos reservados.</p>
    <ul class="lista-redes">
      <li><a href="https://www.facebook.com/">Facebook</a></li>
      <li><a href="https://www.instagram.com/">Instagram</a></li>
      <li><a href="https://www.tiktok.com/">TikTok</a></li>
    </ul>
  </footer>
</div>
