
    <form
            [formGroup]="actualizarPasswordForm"
            (ngSubmit)="onActualizarPasswordSubmit()"
            style="max-width: 400px; margin: auto; display: flex; flex-direction: column; gap: 16px;"
        >
        <h3 style="text-align: center;">Actualizar Contraseña</h3>
        <mat-form-field appearance="fill">
            <mat-label>Contraseña actual</mat-label>
            <input matInput formControlName="passwordActual" />
            <mat-error *ngIf="actualizarPasswordForm.get('passwordActual')?.invalid && actualizarPasswordForm.get('passwordActual')?.touched">
            Campo requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Contraseña nueva</mat-label>
            <input matInput formControlName="passwordNueva" />
            <mat-error *ngIf="actualizarPasswordForm.get('passwordNueva')?.invalid && actualizarPasswordForm.get('passwordNueva')?.touched">
            Campo requerido
            </mat-error>
        </mat-form-field>



        <div *ngIf="mensaje" style="color: green; text-align: center;">
            {{ mensaje }}
        </div>
        <div *ngIf="error" style="color: red; text-align: center;">
            {{ error }}
        </div>

        <div class="botones">
              <button class="btn-volver" (click)="volver()">
                Volver
            </button>

            <button class="btn-actualizar" type="submit" [disabled]="actualizarPasswordForm.invalid">
                Guardar
            </button>
        </div>
      

    </form>